body{
    background-color: rgb(87, 87, 87);
}

.wrapper{
    max-width: 70%;
    display: block;
    margin: 0 auto;
}

img{
    display: block;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

.border{
    border-bottom: solid 0.1em;
    border-color: yellowgreen;
    cursor: pointer;
}

.border:hover summary{
    color: yellowgreen;
    transition: 10ms;
}

.title{
    font-family: "Arimo";
    color: yellowgreen;
}

summary{
    font-family: "Arimo";
    font-size: 2rem;
    color: black;
}

summary::-webkit-details-marker {
    display: none;
}

details:hover{
    color:yellowgreen ;
}

.slothzy-container{
    border: none;
}

.deadline-img{
    display: none;
}

.deadline:hover .deadline-img{
    display: block;
}

